# Configuration file

ids {
    I:"1 Up"=175
    I:Blink=176
    I:"Elemental Affinity"=177
    I:"Fall Resistance"=178
    I:Leapfrog=179
    I:"Never Hungry"=199
    I:Paraglide=181
    I:Reaper=182
    I:Restoration=183
    I:"Sonic the Hedgehog"=195
    I:Spiderman=194
    I:"Step Up"=201
    I:Superman=198
    I:"The One Ring"=200
}


jewelry {
    B:"Enable Non-Fish Breeding Recipe for Celestial Mirror"=true
    B:"Enable Singleplayer Jewelry Offline Mode"=false
    B:"Jewelry Drops on Death"=false
}


tweaks {
    I:"Blink > Milliseconds between Blinks"=0
    I:"Blink > Ray Trace Distance"=2000
    B:"Disable Pearls in Vanilla Anvil"=false
    B:"Enable Books being applied to Jewelry"=false
    D:"Leapfrog > Jump Factor"=0.15
    I:"Leapfrog > Jumps per Damage"=10
    I:"Restoration - Ticks between Repair"=100
    D:"Sonic the Hedgehog > Speed Factor"=0.025
    I:"Sonic the Hedgehog > Ticks per Damage"=1200
}


